In [1]:
import pandas as pd

In [2]:
data=pd.read_csv(r"C:\Users\zaina\OneDrive\Desktop\class 10 A.I\Pandas\file.csv")

In [3]:
data

         Indian Cities   Indian States  Population Main Language
0               Mumbai     Maharashtra    12442373      Marathi
1                Delhi           Delhi    16787941        Hindi
2            Bangalore       Karnataka     8443675      Kannada
3            Hyderabad       Telangana     6731790       Telugu
4            Ahmedabad         Gujarat     5577940     Gujarati
5               Chenna      Tamil Nadu     4646732        Tamil
6              Kolkata     West Bengal     4496694      Bengali
7                Surat         Gujarat     4467797     Gujarati
8                 Pune     Maharashtra     3124458      Marathi
9               Jaipur       Rajasthan     3046163    Rajasthani
10             Lucknow   Uttar Pradesh     2817105        Hindi
11              Kanpur   Uttar Pradesh      265348        Hindi
12              Nagpur     Maharashtra     2405665      Marathi
13              Indore  Madhya Pradesh      164086        Hindi
14               Thane     Maharashtra     1841448      Marathi
15              Bhopal  Madhya Pradesh     1798218        Hindi
16       Visakhapatnam      Seemandhra      128128       Telugu
17  Pimpri & Chinchwad     Maharashtra     3124458      Marathi
18               Patna           Bihar     1684222        Hindi
19            Vadodara         Gujarat      170806     Gujarati
20           Ghaziabad   Uttar Pradesh     1648643        Hindi
21            Ludhiana          Punjab     1618879      Punjabi
22                Agra   Uttar Pradesh      185704        Hindi
23              Nashik     Maharashtra     1486053      Marathi
24           Faridabad         Haryana     1594839      Punjabi
25              Meerut   Uttar Pradesh      105429        Hindi
26              Rajkot         Gujarat     1286678     Gujarati
27  Kalyan & Dombivali     Maharashtra     1246381      Marathi
28         Vasai Virar     Maharashtra     1222390      Marathi
29            Varanasi   Uttar Pradesh     1198491      Bhojpuri

In [4]:
data.Population

0     12442373
1     16787941
2      8443675
3      6731790
4      5577940
5      4646732
6      4496694
7      4467797
8      3124458
9      3046163
10     2817105
11      265348
12     2405665
13      164086
14     1841448
15     1798218
16      128128
17     3124458
18     1684222
19      170806
20     1648643
21     1618879
22      185704
23     1486053
24     1594839
25      105429
26     1286678
27     1246381
28     1222390
29     1198491
Name: Population, dtype: int64

In [5]:
data['Indian Cities']

0                 Mumbai
1                  Delhi
2              Bangalore
3              Hyderabad
4              Ahmedabad
5                 Chenna
6                Kolkata
7                  Surat
8                   Pune
9                 Jaipur
10               Lucknow
11                Kanpur
12                Nagpur
13                Indore
14                 Thane
15                Bhopal
16         Visakhapatnam
17    Pimpri & Chinchwad
18                 Patna
19              Vadodara
20             Ghaziabad
21              Ludhiana
22                  Agra
23                Nashik
24             Faridabad
25                Meerut
26                Rajkot
27    Kalyan & Dombivali
28           Vasai Virar
29              Varanasi
Name: Indian Cities, dtype: object

In [6]:
data['Indian States'][3]

'Telangana'

In [7]:
data.loc[3]

Indian Cities    Hyderabad
Indian States    Telangana
Population         6731790
Main Language      Telugu
Name: 3, dtype: object

In [8]:
data.iloc[0]

Indian Cities         Mumbai
Indian States    Maharashtra
Population          12442373
Main Language       Marathi
Name: 0, dtype: object

In [9]:
data.loc[1,'Main Language']

'Hindi '

In [10]:
data.iloc[1][0]

'Delhi'

In [11]:
data.loc[0:2]

  Indian Cities Indian States  Population Main Language
0        Mumbai   Maharashtra    12442373      Marathi
1         Delhi         Delhi    16787941        Hindi
2     Bangalore     Karnataka     8443675      Kannada

In [12]:
data.iloc[0:2]

  Indian Cities Indian States  Population Main Language
0        Mumbai   Maharashtra    12442373      Marathi
1         Delhi         Delhi    16787941        Hindi

In [13]:
data.iloc[:3,2]

0    12442373
1    16787941
2     8443675
Name: Population, dtype: int64

In [14]:
data.iloc[-1]

Indian Cities         Varanasi
Indian States    Uttar Pradesh
Population             1198491
Main Language         Bhojpuri
Name: 29, dtype: object

In [15]:
data.iloc[-4]

Indian Cities       Rajkot
Indian States      Gujarat
Population         1286678
Main Language    Gujarati
Name: 26, dtype: object

In [16]:
data.iloc[-4][2]

1286678

In [17]:
data.iloc[[0,3,1],2]

0    12442373
3     6731790
1    16787941
Name: Population, dtype: int64

In [18]:
data.loc[:,'Population']

0     12442373
1     16787941
2      8443675
3      6731790
4      5577940
5      4646732
6      4496694
7      4467797
8      3124458
9      3046163
10     2817105
11      265348
12     2405665
13      164086
14     1841448
15     1798218
16      128128
17     3124458
18     1684222
19      170806
20     1648643
21     1618879
22      185704
23     1486053
24     1594839
25      105429
26     1286678
27     1246381
28     1222390
29     1198491
Name: Population, dtype: int64

In [19]:
data.iloc[:,2]

0     12442373
1     16787941
2      8443675
3      6731790
4      5577940
5      4646732
6      4496694
7      4467797
8      3124458
9      3046163
10     2817105
11      265348
12     2405665
13      164086
14     1841448
15     1798218
16      128128
17     3124458
18     1684222
19      170806
20     1648643
21     1618879
22      185704
23     1486053
24     1594839
25      105429
26     1286678
27     1246381
28     1222390
29     1198491
Name: Population, dtype: int64

In [20]:
data.set_index('Indian States')

                     Indian Cities  Population Main Language
Indian States
Maharashtra                 Mumbai    12442373      Marathi
Delhi                        Delhi    16787941        Hindi
Karnataka                Bangalore     8443675      Kannada
Telangana                Hyderabad     6731790       Telugu
Gujarat                  Ahmedabad     5577940     Gujarati
Tamil Nadu                  Chenna     4646732        Tamil
West Bengal                Kolkata     4496694      Bengali
Gujarat                      Surat     4467797     Gujarati
Maharashtra                   Pune     3124458      Marathi
Rajasthan                   Jaipur     3046163    Rajasthani
Uttar Pradesh              Lucknow     2817105        Hindi
Uttar Pradesh               Kanpur      265348        Hindi
Maharashtra                 Nagpur     2405665      Marathi
Madhya Pradesh              Indore      164086        Hindi
Maharashtra                  Thane     1841448      Marathi
Madhya Pradesh              Bhopal     1798218        Hindi
Seemandhra           Visakhapatnam      128128       Telugu
Maharashtra     Pimpri & Chinchwad     3124458      Marathi
Bihar                        Patna     1684222        Hindi
Gujarat                   Vadodara      170806     Gujarati
Uttar Pradesh            Ghaziabad     1648643        Hindi
Punjab                    Ludhiana     1618879      Punjabi
Uttar Pradesh                 Agra      185704        Hindi
Maharashtra                 Nashik     1486053      Marathi
Haryana                  Faridabad     1594839      Punjabi
Uttar Pradesh               Meerut      105429        Hindi
Gujarat                     Rajkot     1286678     Gujarati
Maharashtra     Kalyan & Dombivali     1246381      Marathi
Maharashtra            Vasai Virar     1222390      Marathi
Uttar Pradesh             Varanasi     1198491      Bhojpuri

In [21]:
data.set_index("Population")

                 Indian Cities   Indian States Main Language
Population
12442373                Mumbai     Maharashtra      Marathi
16787941                 Delhi           Delhi        Hindi
8443675              Bangalore       Karnataka      Kannada
6731790              Hyderabad       Telangana       Telugu
5577940              Ahmedabad         Gujarat     Gujarati
4646732                 Chenna      Tamil Nadu        Tamil
4496694                Kolkata     West Bengal      Bengali
4467797                  Surat         Gujarat     Gujarati
3124458                   Pune     Maharashtra      Marathi
3046163                 Jaipur       Rajasthan    Rajasthani
2817105                Lucknow   Uttar Pradesh        Hindi
265348                  Kanpur   Uttar Pradesh        Hindi
2405665                 Nagpur     Maharashtra      Marathi
164086                  Indore  Madhya Pradesh        Hindi
1841448                  Thane     Maharashtra      Marathi
1798218                 Bhopal  Madhya Pradesh        Hindi
128128           Visakhapatnam      Seemandhra       Telugu
3124458     Pimpri & Chinchwad     Maharashtra      Marathi
1684222                  Patna           Bihar        Hindi
170806                Vadodara         Gujarat     Gujarati
1648643              Ghaziabad   Uttar Pradesh        Hindi
1618879               Ludhiana          Punjab      Punjabi
185704                    Agra   Uttar Pradesh        Hindi
1486053                 Nashik     Maharashtra      Marathi
1594839              Faridabad         Haryana      Punjabi
105429                  Meerut   Uttar Pradesh        Hindi
1286678                 Rajkot         Gujarat     Gujarati
1246381     Kalyan & Dombivali     Maharashtra      Marathi
1222390            Vasai Virar     Maharashtra      Marathi
1198491               Varanasi   Uttar Pradesh      Bhojpuri

In [22]:
data.iloc[[9,10,11,12,13,14,15],1]

9          Rajasthan
10     Uttar Pradesh
11     Uttar Pradesh
12       Maharashtra
13    Madhya Pradesh
14       Maharashtra
15    Madhya Pradesh
Name: Indian States, dtype: object